<div data-controller="typing" class="flex justify-center h-screen">
  <h1 data-typing-target="text">Hello guys. Welcome to my All-in-One webite. It's just a normal website include everything I NEED. Thanks</h1>
</div>