<nav class="bg-white shadow-lg">
  <div class="max-w-6xl mx-auto px-4">
    <div class="flex justify-between items-center h-16">
      <div class="flex space-x-7">
      </div>
      <div class="md:flex items-center space-x-8">
        <%= link_to "Home", root_path, class: "py-4 px-2 text-gray-500 font-semibold hover:text-blue-500 transition duration-300" %>
        <%= link_to "Posts", posts_path, class: "py-4 px-2 text-gray-500 font-semibold hover:text-blue-500 transition duration-300" %>
        <%= link_to "Musics", musics_path, class: "py-4 px-2 text-gray-500 font-semibold hover:text-blue-500 transition duration-300" %>
      </div>
    </div>
  </div>
</nav>