<ul>
  <li><a href="../../examples/#">Home</a></li>
  <li><a href="../../examples/albums">Albums</a></li>
  <li><a href="../../examples/artists">Artists</a></li>
  <li><a href="../../examples/songs">Songs</a></li>
  <li><a href="../../examples/genres">Genres</a></li>
  <li><a href="../../examples/playlists">Playlists</a></li>
  <li><a href="../../examples/users">Users</a></li>
</ul>